h1 Welcome to the battle manager

div Please select an option from below

ul
  li 
    a(href='/party') See the party listing
  li 
    a(href='/monsters') See the monster listing
  li 
    a(href='/battle') Start a battle