include mixins

form(name='edit_player',method='post',action='')
  -if(player._id !== null)
    h1 Edit #{player._id}
  -else
    h1 Add character
    div Name:
      input#name(type='text',name='id')
  h2 Stats

  div Level: 
    input#hp(type='text',name='level',value=player.level)
  div Race: 
    input#hp(type='text',name='race',value=player.race)
  div Class: 
    input#hp(type='text',name='class',value=player.class)

  mixin stat_card(player)

  h2 Skills

  mixin skill_table(player,skills)

  .buttonwrapper
    a.ovalbutton(href="#",onclick='document.edit_player.submit()')
      span save
  .clearfix

