.clearfix{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a.ovalbutton{
  background: transparent url('/images/oval-green-left.gif') no-repeat top left;
  display: block;
  float: right;
  font: normal 13px Tahoma; /* Change 13px as desired */
  line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
  height: 24px; /* Height of button background height */
  padding-left: 11px; /* Width of left menu image */
  text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
  color: #494949; /*button text color*/
}

a.ovalbutton span{
  background: transparent url('/images/oval-green-right.gif') no-repeat top right;
  display: block;
  padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
  background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
  background-position: bottom right;
  color: black;
}

.textboxwrapper{
  float:left;
}

.buttonwrapper{
  float:left;
  padding-left: 10px;
}

/* Player renderings */
.shaded { background-color:#ddd; width: 180px; }
.unshaded { background-color:#fff; width: 180px; }
.stat { width: 20px; border: 0; background-color: inherit; text-align:right; }

.skillname { float:left; padding-left: 5px; width: 125px; }
.skillcheck { float: left; text-align: right; }
.skilltrained { float: left; text-align: right; }

.plus_minus { background: url('/images/arrow_set.png') top left no-repeat; width: 12px; float:left; }
.plus_minus.down { background-position: -12px 0px; }

.card_wrapper { float:left; clear:both; }
.skills_wrapper { float:left; }

